# Dependencias
node_modules

# Build
dist
build

# Logs
logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Editor y sistema
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?